{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
        {% for product in products %}

            {% if product.id is defined %}<tr>
                <th>Id</th>
                <td> {{ product.id }} </td>
            </tr>{% endif %}

            {% if product.name is defined %}<tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr> {% endif %}

            {% if product.description is defined %}<tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr> {% endif %}

            {% if product.pictureURL is defined %}<tr>
                <th>Pictureurl</th>
                <td><img src="{{ asset('uploads/pictures/') ~ product.pictureURL}}"/></td>
            </tr> {% endif %}

            {% if product.price is defined %}<tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr> {% endif %}

            {% if product.categoryId is defined %}<tr>
                <th>Category name</th>
                <td>{{ product.categoryId }}</td>
            </tr>{% endif %}

            {% if product.categoryName is defined %}<tr>
                <th>Category name</th>
                <td>{{ product.categoryName }}</td>
            </tr>{% endif %}

            {% endfor %}
        </tbody>
    </table>
{% endblock %}